<footer class="bg-purple text-light py-3 mt-4 w-100" style="background-color: #6f42c1;">
    <div class="container">
        <div class="row">
            <!-- About Section -->
            <div class="col-md-4 mb-4">
                <h5 class="text-uppercase">SIIT</h5>
                <p>
                    Designed and developed by SIIT students, with guidance from our faculty and support.
                    Educational resources and documentation.
                </p>
                <br>
                <p>Currently Academic Year 2024</p>
            </div>

            <!-- Community Section -->
            <div class="col-md-2 mb-4">
                <h6 class="text-uppercase">Community</h6>
                <ul class="list-unstyled">
                    <li><a href="https://getbootstrap.com/docs/5.0/getting-started/introduction/"
                            class="text-light">Bootstrap</a></li>
                    <li><a href="https://github.com/Abratexz" class="text-light">Github</a></li>
                    <li><a href="https://stackoverflow.com/" class="text-light">Stack Overflow</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>