<%- include('header') %>
    <form action="/register">
        <div>
            <label>name</label>
            <input type="text" name="name" class="form-control" />
        </div>
        <div>
            <label>usr</label>
            <input type="text" name="user" class="form-control" />
        </div>
        <div>
            <label>pwd</label>
            <input type="password" name="pass" class="form-control" />
        </div>
        <div>
            <label>level</label>
            <input type="text" name="level" class="form-control" />
        </div>
        <div>
            <label>phone</label>
            <input type="number" name="phone" class="form-control" />
        </div>
        <div>
            <label>img</label>
            <input type="image" name="image" class="form-control" />
        </div>

    </form>

    <%- include('footer') %>